@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f6f5f4;
	/* overflow-x: hidden;	 */
}

.product-card-shadow {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition: ease-in 0.2s;
}

.product-card-shadow img:hover {
	/* transform: scale(1.5); */
}

.product-card-shadow:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.darken-box-shadow {
	box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}