.navbar {
	background-color: #fff;
}

.navItem {
	position: relative;
	text-align: center;
}

.navItem:hover {
	/* color: rgb(219 39 119); */
	color: rgb(236 72 153);
}

.active {
	color: rgb(236 72 153);
}